body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    width: 100%;
    background: rgb(255, 128, 0);
}
.header_logo{
    width: 150px;
    margin: 10px;
}
.content{
    display: flex;
}
.restaurant{
    flex: 1;

}
.register{
    width: 300px;
    box-shadow: -2px 2px 10px  rgb(95, 95, 95);
    z-index: 2;
    position: sticky;
    top: 5px;
    min-height: 400px;
}
h1{
    text-align: center;
}
.restaurant_logo{
    width: 150px;
    border-radius: 100px;
    margin-bottom: -75px;
    border: 2px solid rgb(255, 128, 0);
}
.images{
    background-image: url("/assets/JPG/Header.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.rating{
    color:rgb(255, 128, 0) ;
}
.seperator{
    display: flex;
    align-items: center;
    background: rgb(247, 246, 241);
    gap: 10px;
}
.arrow{
    width: 50px;
}
.dishes{
    font-weight: bold;
    color: gray;
}
.mid_pic{
    width: calc(100% - 20px);
    height: 150px;
    margin: 10px;
    object-fit: cover;
}
.margin_lr{
    margin-left: 10px;
    margin-right: 10px;
}
.content{
    max-width: 1440px;
    width: 100%;
}
.title_addbtn{
    display: flex;
    justify-content: space-between;
}
.add_button{
    height: 25px;
    width: 25px;
    color: rgb(255, 128, 0);
    background: white;
    border: 0.5px solid black;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    font-weight: bold;


}
.dish_selection{
    border: 0.1px solid rgb(139, 139, 139);
    margin-bottom: 5px;
}
.dish_selection:hover{
    background: rgb(254, 229, 203);
}
.dish_title{
    margin-left: 10px;
}
.dish_price{
    color: rgb(255, 128, 0) ;
}
.amount{
    display: flex;
    justify-content: space-around;
}
.price{
    display: flex;

}
.price_amount{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
p{
    margin: 0;
}
.add_rmv_btn{
    width: 25px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}
.checkout_summary{
    color: gray;
    margin-left: 10px;
}
.checkout_summary_total{
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}
.textalign{
    text-align: center;
}
.d_none{
    display: none;
}
.order_button{
    background: rgb(255, 128, 0);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    border: 2px solid rgb(100, 100, 100);
    cursor: pointer;
}
.flex{
    display: flex;
    justify-content: center;
}
