html{
    scroll-behavior: smooth;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background:  rgb(255, 128, 0);
  margin-top: auto;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}
header {
  width: 100%;
  background: rgb(255, 128, 0);
}
.header_logo {
  width: 150px;
  margin: 10px;
}
.content {
  display: flex;
}
.restaurant {
  flex: 1;
}
.register {
  width: 300px;
  box-shadow: -2px 2px 10px rgb(95, 95, 95);
  z-index: 2;
  position: sticky;
  top: 5px;
  min-height: 650px;
}
h1 {
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
}
.restaurant_logo {
  width: 150px;
  border-radius: 100px;
  margin-bottom: -75px;
  border: 2px solid rgb(255, 128, 0);
}
.images {
  background-image: url("./Header.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.rating {
  color: rgb(255, 128, 0);
}
.seperator {
  display: flex;
  align-items: center;
  background: rgb(247, 246, 241);
  gap: 10px;
}
.arrow {
  width: 50px;
}
.slider{
    text-decoration: none;
    color: gray;

}
.dishes {
  font-weight: bold;
  color: gray;
}
.mid_pic {
  width: calc(100% - 20px);
  height: 150px;
  margin: 10px;
  object-fit: cover;
}
.margin_lr {
  margin-left: 10px;
  margin-right: 10px;
}
.content {
  max-width: 1440px;
  width: 100%;
}
.title_addbtn {
  display: flex;
  justify-content: space-between;
}
.add_button {
  height: 25px;
  width: 25px;
  color: rgb(255, 128, 0);
  background: white;
  border: 0.5px solid black;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.dish_selection {
  border: 0.1px solid rgb(139, 139, 139);
  margin-bottom: 5px;
}
.dish_selection:hover {
  background: rgb(254, 229, 203);
}
.dish_title {
  margin-left: 10px;
}
.dish_price {
  color: rgb(255, 128, 0);
}
.amount {
  display: flex;
  justify-content: space-around;
}
.price {
  display: flex;
}
.price_amount {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
p {
  margin: 0;
}
.add_rmv_btn {
  width: 25px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.checkout_summary {
  color: gray;
  margin-left: 10px;
}
.checkout_summary_total {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}
.textalign {
  text-align: center;
}
.resp_menu_box {
  background-color: rgb(194, 194, 194);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  box-shadow: 0px 0px 10px 7px rgb(155, 155, 155);
  overflow-y: scroll;

  width: 100%;
  height: 100%;

  position: fixed;
  right: 0;
  top: 0;

  transition: all 125ms ease-in-out;
  z-index: 5;
}
.resp_menu_closed {
  transform: translateX(110%);
}
.respMenuContainer {
  height: 350px;
  width: 310px;
  overflow-y: scroll;
}
#respMenuPrice {
  display: flex;
  align-items: center;
}
.price_next_to_logo {
  color: white;
  display: none;
}
.close_resp_menu {
  width: 50px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.openclose {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.order_button {
  background: rgb(255, 128, 0);
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  border: 2px solid rgb(100, 100, 100);
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.425);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 7;
  height: 100%;
  width: 100%;
}
#overlayContent {
  background-color: rgb(255, 128, 0);
  height: 400px;
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid white;
  position: sticky;
  top: 100px;
}
.overlay_close{
    margin-bottom: 50px;

}
.dish_text {
  margin-bottom: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopping_bag {
  width: 50px;
  height: 50px;
  display: none;
  cursor: pointer;
}
.scroll_behaviour{
    overflow-y: hidden;

}
.d_none {
    display: none;
}
.order_placed_text{
    text-align: center;
}
#registerEntry {
  overflow-y: scroll;
  height: 450px;
  scrollbar-color: rgb(255, 128, 0);
}

@media (max-width: 926px) {
  .restaurant_name {
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .register {
    display: none;
  }
  .shopping_bag {
    display: block;
  }
  header {
    position: sticky;
    top: 0px;
    z-index: 5;
  }
  .price_next_to_logo{
    display: block;
  }
}
@media (max-width: 550px) {
  .restaurant_logo {
    width: 75px;
    margin-bottom: -35px;
  }
  .images {
    height: 150px;
  }
  restaurant_name {
    margin-top: 40px;
  }
}
