body{
    margin: 0;
}
header{
    width: 100%;
    background: rgb(255, 128, 0);
}
.header_logo{
    width: 150px;
    margin: 10px;
}
.content{
    display: flex;
}
.restaurant{
    flex: 1;
}
.register{
    width: 300px;
    height: 100vh;
    box-shadow: -2px 2px 10px  rgb(95, 95, 95);
    z-index: 2;
}
h1{
    text-align: center;
}
.restaurant_logo{
    width: 150px;
    border-radius: 100px;
    margin-bottom: -75px;
    border: 2px solid rgb(255, 128, 0);
}
.images{
    background-image: url("/assets/JPG/Header.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.rating{
    color:rgb(255, 128, 0) ;
}
.seperator{
    display: flex;
    align-items: center;
    background: rgb(247, 246, 241);
    gap: 10px;
}
.arrow{
    width: 50px;
}
.dishes{
    font-weight: bold;
    color: gray;
}
.mid_pic{
    width: calc(100% - 20px);
    height: 150px;
    margin: 10px;
    object-fit: cover;
}
.margin_lr{
    margin-left: 10px;
    margin-right: 10px;
}